
<section>
  <h1>Quotes</h1>

  <% @quotes.each do |quote| %>
    <span class="quote-saying">
        "<%= quote.saying %>"
    </span>
    <br />
    <span class="quote-source">
      &nbsp; &nbsp; &nbsp; - <%= quote.source %>
    </span>
    <br /> <br />
  <% end %>

  <div style="height: 20px;" ></div>

  <%= link_to "Add", new_user_quote_path(@user.id), id: 'add-link' %>
</section>

